doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

    title #{config.event.name} &bull; #{config.event.description}

    meta(name='description' content=`${config.event.name} - ${config.event.description}`)
    meta(name='keywords' content='desenvolvedor frontend, desenvolvedor front-end, front-end em florianópolis, eventos de front-end em florianópolis, frontinfloripa, frontinfloripa 2017, eventos de desenvolvimento, desenvolvimento, front-end, html, html5, css3, css, javascript, js')

    meta(property='og:locale' content='pt_BR')
    meta(property='og:url' content=`${config.event.url}`)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${config.event.name}`)
    meta(property='og:site_name' content='Front in Floripa')
    meta(property='og:description' content=`${config.event.description}`)
    meta(property='og:image' content='http://www.frontinfloripa.com.br/assets/img/social.png')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content=`${config.event.name}`)
    meta(name='twitter:description' content=`${config.event.description}`)
    meta(name='twitter:site' content='@frontinfloripa')
    meta(name='twitter:image' content='http://www.frontinfloripa.com.br/assets/img/social.png')

    link(href='//fonts.googleapis.com/css?family=Work+Sans:300,400,600,700' rel='stylesheet')
    link(rel='stylesheet' href='assets/css/main.css')
  body
    header.header
      .header-wrapper
        .header-content
          h1.header-logo #{config.event.name}
          h2.header-info 02/Dezembro #[span &bull;] 9h #[span &bull;] #[a(href='https://goo.gl/maps/ty539BmfZM82' target='_blank') Hotel Maria do Mar]
          a.button(href=`${config.tickets.url}` target='_blank') Comprar Ingresso
      video.header-video(loop autoplay)
        source(src='assets/video/frontinfloripa2017.webm' type='video/webm')
        source(src='assets/video/frontinfloripa2017.mp4' type='video/mp4')

    section.features
      .features-wrapper
        .features-column-title
          h2.features-title Por que ir no evento?
          h2.features-description Esse ano o Front in Floripa chega em sua 5ª edição. Cada edição são 220 desenvolvedores, designers e entusiastas de toda Santa Catarina e do Brasil reunidos. Esse ano estamos trabalhando em 3 pilares para um ótimo evento.
          a.button.button-ghost(href='https://www.youtube.com/watch?v=CLL_XGOLH4I' target='_blank') Como foi ano passado?
        .features-column-content
          ul.features-list
            li.features-list-item
              h3.features-list-item__title Interação
              h3.features-list-item__description Sabemos que um evento não é apenas palestra. Na verdade apostamos em #[strong PESSOAS]. E esse ano teremos várias atividades e espaços que proporcionam a melhor e maior #[strong interação] possível entre os participantes.
            li.features-list-item
              h3.features-list-item__title Conhecimento
              h3.features-list-item__description O Front in Floripa sempre teve a sorte de ter os melhores participantes e palestrantes. Sempre trazendo tendências e palestras práticas o aprendizado é garantido, tanto nas talks como nas conversas entre o pessoal =]
            li.features-list-item
              h3.features-list-item__title Diversão
              h3.features-list-item__description Assunto sério é legal. Mas nada como ter um sábado inteiro se divertindo. Estamos bolando algumas interações e brincadeiras durante o evento envolvendo a galera. Além do mais, estamos também preparando aquele happy-hour que promete. Aguardem...

    section.speakers
      .speakers-wrapper
        .speakers-title
          span Palestrantes & Talks
        ul.speakers-list
          each speaker in speakers
            li(class=`speakers-list-item speakers-list-item__status-${speaker.status}`)
              .speakers-list-item-photo
                img.speakers-list-item__avatar(src=`assets/img/speakers/${speaker.avatar}`)
              .speakers-list-item-content
                h3.speakers-list-item__title= speaker.name
                span.speakers-list-item__company= speaker.company
                .speakers-list-item__social
                  if speaker.github
                    a.speakers-list-item__social-link.github(href=`https://github.com/${speaker.github}` target='_blank') Github
                  if speaker.twitter
                    a.speakers-list-item__social-link.twitter(href=`https://twitter.com/${speaker.twitter}` target='_blank') Twitter
                p.speakers-list-item__talk= speaker.talk
        .speakers-title.speakers-title__presenter
          span Apresentação
        ul.speakers-list.speakers-list__presenter
          li.speakers-list-item.speakers-list-item__presenter
            .speakers-list-item-photo
              img.speakers-list-item__avatar(src=`assets/img/speakers/bernard.jpg`)
            .speakers-list-item-content
              h3.speakers-list-item__title Bernard de Luna
              span.speakers-list-item__company bunee.io

    section.location
      .location-wrapper
        .location-column.content
          .location-content
            .location-content-address
              h3.location-title Hotel Maria do Mar
              p.location-description  Rodovia João Paulo, 2285 #[br] Bairro João Paulo #[br] Florianópolis - SC - Brasil
              a.button(href='https://goo.gl/maps/ty539BmfZM82' target='_blank') Como chegar
            .location-content-discount
              p.location-content-discount__text #[strong.up Tá afim de ficar no hotel?] Nós fizemos uma parceria com o hotel e conseguimos um #[strong DESCONTO \o/] para vocês. Lembramos que a tarifa do site é variável e os valores mudam de acordo com a demanda. O Front in Floripa não garante quartos disponíveis. Além disso, a reserva é toda de responsabilidade do hóspede junto ao hotel. Coloque o cupom no site e garanta seu quarto de frente para o mar ;)
              span.location-content-discount__code FINF2636
              a.button(href='http://mariadomar.com.br' target='_blank') Reservar

        .location-column.photo

    section.tickets
      .tickets-wrapper
        h2.tickets-title Ingresso
        p.tickets-description 1º Lote – R$ 80
        p.tickets-note Para grupos e excursões, envie um e-mail para #[a(href='mailto:contato@frontinfloripa.com.br') contato@frontinfloripa.com.br]
        a.button(href=`${config.tickets.url}` target='_blank') Comprar Ingresso

    section.support
      .support-wrapper
        h2.support-title #[span Patrocínio]
          ul.support-list.patro
            each sponsor in sponsors
              li.support-item
                a.support-link(href=`${sponsor.website}` target='_blank')
                  img(src=`assets/img/sponsors/${sponsor.logo}`)

        h2.support-title #[span Apoio]
          ul.support-list.apoio
            each item in support
              li.support-item
                a.support-link(href=`${item.website}` target='_blank')
                  img(src=`assets/img/support/${item.logo}`)

    footer.footer
      .footer-wrapper
        .footer-column.coc
          a.footer-link(href='https://braziljs.org/coc' target='_blank') Código de Conduta
        .footer-column.email
          span.footer-email contato@frontinfloripa.com.br
        .footer-column.social
          ul.footer-social
            li.footer-social-item
              a.footer-social-link.twitter(href='https://twitter.com/frontinfloripa' target='_blank') Twitter
            li.footer-social-item
              a.footer-social-link.facebook(href='https://facebook.com/frontinfloripa' target='_blank') Facebook
            li.footer-social-item
              a.footer-social-link.github(href='https://github.com/frontinfloripa' target='_blank') Github
